
@{
    ViewBag.Title = "About";
}

<main>

    <div class="slider-area">
        <div class="slider-height2 slider-bg2 d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="offset-xl-1 col-xl-4 col-lg-5 col-md-5">
                        <div class="hero-caption hero-caption2">
                            <h2>About Us</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="project-us section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-11">

                    <div class="section-tittle text-center mb-70">
                        <h2>Flexible support to suit your business needs</h2>
                        <p>Apply for a business loan today and, if approved, you could enjoy the first 8 weeks with no repayments. Get the breathing space now, and we’ll extend your term at the other end (interest will accrue from the settlement date to the end of the term).</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-10 col-sm-10">
                    <div class="project-right-cap">
                        <div class="project-right-img">
                            <img src="~/Content/assets/img/gallery/about.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-10 col-sm-10">
                    <div class="project-caption">

                        <div class="collapse-wrapper">
                            <div class="accordion" id="accordionExample">

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Starts the automated process.</button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The automated process starts as soon as your clothes go into the machine. Duis cursus, mi quis viverra ornare.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">The automated process starts.</button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The automated process starts as soon as your clothes go into the machine. Duis cursus, mi quis viverra ornare.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Automated process starts. </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The automated process starts as soon as your clothes go into the machine. Duis cursus, mi quis viverra ornare.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Process the automated magic.</button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The automated process starts as soon as your clothes go into the machine. Duis cursus, mi quis viverra ornare.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="emargency-care section-img-bg2" data-background="~/Content/assets/img/gallery/section-bg1.jpg">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-5 col-lg-6 col-md-9 col-sm-12">
                    <div class="single-emargency">
                        <div class="emargency-cap">
                            <div class="cat-icon">
                                <img src="~/Content/assets/img/icon/message.svg" alt="">
                            </div>
                            <p class="emargenc-cap">“I love that I was able to open a café and transform it into a place that makes people happy. A small business loan from Prospa was a big part of making that possible.”</p>
                            <div class="ceo-name">
                                <span>- Barb Dwyer</span>
                                <p>CEO of Victor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="our-client border-bottom top-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="client-single mb-45">
                        <blockquote>
                            <img src="~/Content/assets/img/gallery/client1.jpg" alt="">
                        </blockquote>
                        <div class="client-say">
                            <h2>Happier customers</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="client-single mb-45">
                        <blockquote>
                            <img src="~/Content/assets/img/gallery/client2.jpg" alt="">
                        </blockquote>
                        <div class="client-say">
                            <h2>Faster growth</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="client-single mb-45">
                        <blockquote>
                            <img src="~/Content/assets/img/gallery/client3.jpg" alt="">
                        </blockquote>
                        <div class="client-say">
                            <h2>Connected workflow</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="support-company-area section-padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="right-caption">

                        <div class="section-tittle">
                            <h2>
                                Professional who works to help
                                with your business.
                            </h2>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">Apply for a business loan today and, if approved, you could enjoy the first 8 weeks with no repayments. Get the breathing space now, and we’ll extend your term at the other end (interest will accrue from the settlement date to the end of the term).</p>
                            <a href="about.html" class="btn about-btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="support-location-img">
                        <img src="~/Content/assets/img/gallery/about2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>