
@{
    ViewBag.Title = "Services";
}

<main>

    <div class="slider-area">
        <div class="slider-height2 slider-bg2 d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="offset-xl-1 col-xl-3 col-lg-5 col-md-5">
                        <div class="hero-caption hero-caption2">
                            <h2>Services</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="services-area gray-bg section-padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-8">

                    <div class="row justify-content-between mb-45">
                        <div class="col-xl-12 col-lg-10">
                            <div class="section-tittle section-tittle3">
                                <h2>Improved Digital Experience</h2>
                                <p>Apply for a business loan today and, if approved, you could enjoy the first 8 weeks with no repayments. Get the breathing space now, and we’ll extend your term at the other end (interest will accrue from the settlement date to the end of the term).</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-cat mb-50">
                                <div class="cat-icon">
                                    <img src="~/Content/assets/img/icon/services1.svg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="#">Design & Development</a></h5>
                                    <ul>
                                        <li>- Design better websites an spend.</li>
                                        <li>- We’ll extend your term.</li>
                                        <li>- Get the breathing space now.</li>
                                    </ul>
                                    <a href="#" class="browse-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-cat mb-50">
                                <div class="cat-icon">
                                    <img src="~/Content/assets/img/icon/services2.svg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="#">Design & Development</a></h5>
                                    <ul>
                                        <li>- Design better websites an spend.</li>
                                        <li>- We’ll extend your term.</li>
                                        <li>- Get the breathing space now.</li>
                                    </ul>
                                    <a href="#" class="browse-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <img src="~/Content/assets/img/gallery/services-img.jpg" alt="this img" class="services-banner">
                </div>
            </div>
        </div>
    </section>


    <div class="our-client border-bottom top-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="client-single mb-45">
                        <blockquote>
                            <img src="~/Content/assets/img/gallery/client1.jpg" alt="">
                        </blockquote>
                        <div class="client-say">
                            <h2>Happier customers</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="client-single mb-45">
                        <blockquote>
                            <img src="~/Content/assets/img/gallery/client2.jpg" alt="">
                        </blockquote>
                        <div class="client-say">
                            <h2>Faster growth</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="client-single mb-45">
                        <blockquote>
                            <img src="~/Content/assets/img/gallery/client3.jpg" alt="">
                        </blockquote>
                        <div class="client-say">
                            <h2>Connected workflow</h2>
                            <p>Design better websites and spend less with Essentials.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="support-company-area section-padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="right-caption">

                        <div class="section-tittle">
                            <h2>
                                Professional who works to help
                                with your business.
                            </h2>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">Apply for a business loan today and, if approved, you could enjoy the first 8 weeks with no repayments. Get the breathing space now, and we’ll extend your term at the other end (interest will accrue from the settlement date to the end of the term).</p>
                            <a href="about.html" class="btn about-btn">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-10">
                    <div class="support-location-img">
                        <img src="~/Content/assets/img/gallery/about2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

